# Customer Profitability
-----------------------------------------------------------------------------

## ! Important
For this code I divided the data into several csv file. You need to have ALL the csv files to run the code.

In [28]:
import pandas as pd ; import numpy as np ; import itertools ; import matplotlib.pyplot as plt
import string

### Step 1 : Data and cleaning (be ready it's very long)
- First we take care of the direct cost file
- Second Sale ledge
- Third Indirect cost

In [76]:
direct_cost = pd.read_csv('Direct cost sheet.csv', delimiter=';', encoding= 'unicode_escape')
direct_cost.dropna(axis = 0, how = 'all', inplace = True)
direct_cost.dropna(axis = 1, how = 'all', inplace = True)

#List of products
products = list(string.ascii_uppercase[0:12])
products.remove('J')
#print(len(products))

#Create List for columns
col = ['Running Number', 'Customer id']
col += [i for i in products]
#print(col)

# Create a dataframe for the components used in direct cost
direct_driver_used = direct_cost.iloc[:,:len(products)+2].copy()
direct_driver_used.columns = col
direct_driver_used.drop(direct_cost.index[:2], inplace = True)
direct_driver_used

     Running Number Customer id   A   B   C   D   E    F    G   H   I    K   L
5                 1         105  21  44   0   0  51    0  130   0  23    0   3
6                 2         117   0   0   0  10  27    0    0  17   0   20   9
7                 3          72   2   0   0  17  53    0    0   0  18    0   0
8                 4          65  24  69  97   0  67   90    0  19   0   75  30
9                 5          50  12  70  73   1  49    0    0   0  27  106   0
...             ...         ...  ..  ..  ..  ..  ..  ...  ...  ..  ..  ...  ..
3000           2996          52   5   0   0  20   0   33   15   0   0   44   0
3001           2997         121  21   5   0  12  38    0   14   0   0   71   0
3002           2998         138   6   0  26   6   0  135   38   0   0    0  42
3003           2999         149  17   0  45   0  24   71    0  28  10    0  18
3004           3000          79   2   0   0   0  60  106   78   0  37   39  37

[3000 rows x 13 columns]

In [96]:
#Dataframe for direct cost per component per order
direct_cost_order_v1 = direct_cost.iloc[:,len(products)+2:].copy()
info = pd.DataFrame(direct_driver_used[['Running Number', 'Customer id']])
direct_cost_order = info.join(direct_cost_order_v1)
direct_cost_order.columns = col

# Clean the data by removing the euro, comma and - signs
direct_cost_order= direct_cost_order.replace('\x80','',regex=True)
direct_cost_order= direct_cost_order.replace(',','.',regex=True)
direct_cost_order= direct_cost_order.replace('-',0,regex=True)

# Convert all product columns to floats
direct_cost_order[products] = direct_cost_order[products].apply(pd.to_numeric)
direct_cost_order

,Running Number,Customer id,A,B,C,D,E,F,G,H,I,K,L
5,1,105,7.58,4.46,0.00,0.00,9.54,0.00,6.97,0.00,8.13,0.00,7.23
6,2,117,0.00,0.00,0.00,3.80,12.73,0.00,0.00,10.85,0.00,7.52,19.31
7,3,72,7.10,0.00,0.00,10.11,7.17,0.00,0.00,0.00,7.02,0.00,0.00
8,4,65,8.96,2.86,12.49,0.00,6.75,53.71,0.00,8.61,0.00,11.52,16.26
9,5,50,5.36,5.02,18.67,4.34,12.44,0.00,0.00,0.00,11.07,6.54,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000,2996,52,8.96,0.00,0.00,5.52,0.00,72.25,9.28,0.00,0.00,6.96,0.00
3001,2997,121,14.94,4.84,0.00,8.76,10.54,0.00,13.21,0.00,0.00,5.47,0.00
3002,2998,138,11.92,0.00,25.44,7.65,0.00,60.07,10.00,0.00,0.00,0.00,7.07
3003,2999,149,6.32,0.00,11.59,0.00,8.30,82.23,0.00,14.79,5.44,0.00,5.08
3004,3000,79,5.99,0.00,0.00,0.00,5.87,62.86,22.85,0.00,5.00,5.72,15.79

In [2]:
prices = np.array([100000,150000,200000], dtype = float)
activity = ['Order', 'Warehouse', 'Assembly', 'Quality Control', 'Administration']
products = ['Subsea 1', 'Subsea 2', 'Subsea 3']
direct_cost = np.array([60976, 121065, 20964])
units_sold = [492,413,477]